<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".BookingListCustomer"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ChoosePaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".LastCheckoutActivity"
            android:exported="true">
            <intent-filter>
                <data android:scheme="myapp" android:host="vnpay_return"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceForCusActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceManagerActivity"
            android:exported="false" />
                <activity
                    android:name=".AddServiceActivity"
                    android:exported="false" />
        <activity
            android:name=".EditServiceActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".WalletActivity"
            android:exported="false" />
        <activity
            android:name=".BookingListMechanist"
            android:exported="false" />
        <activity
        android:name=".BookingDetailMechanist"
        android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8QVHGzdoXcuXVqNS1oqU-E10HQ0OJWA8"/>
    </application>

</manifest>